@font-face {
    font-family: 'Alpha Echo';
    src: url('/Alpha-Echo/alpha_echo.ttf');
}

.top-container {
    background-color: #f5b53d;
    border: 5px solid #c58d24;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 700px;
}

body h1 {
    color: black;
    font-family: 'Alpha Echo';
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    -webkit-text-stroke-color: #292827;
    -webkit-text-stroke-width: 1px;
}

body h2 {
    color: black;
    float: left;
    font-family: monospace;
    font-size: 30px;
    margin-top: 0;
    padding-left: 30px;
}

body h3 {
    font-family: monospace;
}

.show-name {
    background-color: white;
    border: 3px solid black;
    margin-left: 50px;
    margin-top: 20px;
    position: fixed;
    height: 70px;
    width: 200px;
}

.show-score {
    background-color: white;
    border: 3px solid black;
    margin-left: 0px;
    margin-top: 0px;
    position: fixed;
    left: 891px;
    top: 106px;
    height: 70px;
    width: 200px;
}
.show-name p {
    background-color: rgb(160, 2, 2);
    color: white;
    font-family: sans-serif;
    font-size: 60%;
    margin-top: 0px;
    text-align: center;
}

.show-score p {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 60%;
    margin-top: 0px;
    text-align: center;
}

.container svg {
    background-color: rgb(180, 179, 179);
    border: 10px solid #797878;
    display: inline-block;
    justify-content: center;
    left: 40px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    height: 670px;
    width: 1020px;
    z-index: -1;
}

.game-intro {
    background-color: white;
    border: 4px solid black;
    display: block;
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    left: 325px;
    top: 300px;
    height: 300px;
    width: 500px;
}

.game-intro h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
}

.game-intro p {
    font-family: sans-serif;
    font-size: 12px;
}

.content-div {
    background-color: white;
    border: 4px solid black;
    display: none;
    font-family: sans-serif;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    text-align: center;
    left: 325px;
    top: 300px;
    height: 300px;
    width: 500px;
}

.content-div h3 {
    margin-top: 15px;
}

.content-div p {
    font-size: 20px;
}

#check-answer {
    background-color: #020c66; 
    border: none;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    padding: 15px 25px;
}

#check-answer-button {
    position: fixed;
    left: 520px;
    top: 530px;
}

.popup-div {
    background-color: white;
    border: 4px solid black;
    color: green;
    display: none;
    font-family: monospace;
    font-size: 48px;
    text-align: center;
    position: fixed;
    left: 325px;
    top: 300px;
    height: 300px;
    width: 530px;
    z-index: 2;
}

.popup-text {
    border: 8px solid;
    border-radius: 10px;
    font-size: 54px;
    font-weight: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#AR {
    fill: #303030;
    stroke: #303030;
}

#AR:hover {
    fill: purple;
    stroke: purple;
}

#AU {
    fill: #303030;
    stroke: #303030;
    
}
#AU:hover {
    fill: brown;
    stroke:brown;
}

#CL {
    fill: #303030;
    stroke: #303030;
    
}
#CL:hover {
    fill: orange;
    stroke: orange;
}

#DE {
    fill: #303030;
    stroke: #303030;
}
#DE:hover {
    fill:paleturquoise;
    stroke: paleturquoise;
}

#ES {
    fill: #303030;
    stroke: #303030;
}
#ES:hover {
    fill:darkolivegreen;
    stroke: darkolivegreen;
}

#FR {
    fill: #303030;
    stroke: #303030;
}
#FR:hover {
    fill: gold;
    stroke: gold;
}

#IT {
    fill:#303030;
    stroke: #303030;
}
#IT:hover {
    fill: red;
    stroke: red;
}

#NZ {
    fill:#303030;
    stroke: #303030;
}
#NZ:hover {
    fill: green;
    stroke: green;
}

#PT {
    fill: #303030;
    stroke: #303030;
}
#PT:hover {
    fill:darkred;
    stroke: darkred;
}

#US {
    fill:#303030;
    stroke: #303030;
}
#US:hover {
    fill: #1e6fe8;
    stroke: #1e6fe8;
}

#ZA {
    fill: #303030;
    stroke: #303030;
}
#ZA:hover {
    fill:fuchsia;
    stroke: fuchsia;
}
